<?xml version="1.0" ?>
<!-- $Id$$ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
  -- This file is part of doyouspeakOCCI.
  --
  -- doyouspeakOCCI is free software: you can redistribute it and/or modify
  -- it under the terms of the GNU General Public License as published by
  -- the Free Software Foundation, either version 3 of the License, or
  -- (at your option) any later version.
  --
  -- doyouspeakOCCI is distributed in the hope that it will be useful,
  -- but WITHOUT ANY WARRANTY; without even the implied warranty of
  -- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -- GNU General Public License for more details.
  --
  -- You should have received a copy of the GNU General Public License
  -- along with doyouspeakOCCI.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description"
          content="A compliance testing application for the Open Cloud Computing Interface family of specifications. Written in Python (mainly using httplib2 and django) it is designed to run in Google App Engine."/>
    <meta name="author" content="Alexander Papaspyrou, Technische Universität Dortmund"/>
    <meta name="keywords"
          content="doyouspeakOCCI, do you speak OCCI?, Open Cloud Computing Interface, OCCI, Compliance, Standards, Open Grid Forum, Statistics">

    <title>do you speak OCCI? Compliance Testing for the Open Cloud Computing Interface: Statistics</title>

    <meta charset="UTF-8">
</head>
<body>
<li>
    <ul>Welcome</ul>
    <ul>Statistics</ul>
    <ul>About</ul>
    <ul>Imprint</ul>
</li>
<h1>Locations of Tested Implementations</h1>

<div id="implementation_map" style="height: 400px;"></div>

<h2>Overall Implementation Compliance Results</h2>
</body>
</html>